<div class="container">
  <h1>Welcome to <%= application_name %></h2>
  <% @users.each do |user|%>
    <% user.uploads.each do |image| %>
      <%= image_tag image.image(:medium) %>
    <% end %>
  <% end %>
</div>
