<div class="container">
  <h1>Welcome to <%= application_name %><div style="color:red;font-size:23px;"> loged in as: <%= current_user.email %>! </div> </h2>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
