<div class="container">
  <div class="alert alert-info alert-disnmissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5>This is section were you can see all your uploaded images. Uploaded images stored on AWS S3 server</h5>
  </div>
<%= form_for Upload.new, url: images_upload_path, html: { multipart: true } do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= form.file_field :image %>
        </div>
        <div class="panel-body">
          <%= form.submit "Upload", class: "btn btn-info"%>
        </div>
      </div>
    </div>
 </div>
<% end %>

<% if @images.present? %>
  <% @images.each do |item| %>
    <%= image_tag item.image(:medium)%>
  <% end %>
<% end %>

</div>
